name: Terraform Integration Tests

# This workflows requires secrets and needs to be run on workflow_dispatch
on:
  workflow_call:

jobs:
  integration-test:
    permissions:
      contents: "read"
      id-token: "write"
    environment: dev
    name: Integration test Bucket module
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-go@v6
        with:
          go-version-file: "test/integration/go.mod"
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: 1.9.8
          terraform_wrapper: false
      - id: "auth"
        uses: "google-github-actions/auth@v3"
        with:
          workload_identity_provider: ${{ vars.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ vars.SERVICE_ACCOUNT }}
      - id: "get-credentials"
        uses: "google-github-actions/get-gke-credentials@v3"
        with:
          project_id: ${{ secrets.CLUSTER_PROJECT_ID }}
          cluster_name: ${{ secrets.CLUSTER_NAME }}
          location: ${{ secrets.CLUSTER_LOCATION }}
      - name: Download Go Modules
        working-directory: test/integration
        run: go mod download
      - name: Run Go Integration Tests
        working-directory: test/integration
        run: go test -tags=integration -timeout 30m
